#page-top {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 90%;
    height: 150px;
    align-items: center;
    margin: 10px 5% 50px 5%;
}

#page-top img {
    width: 10%;
    height: auto;
}

#page-top > header {
    text-align: center;
    font-family: "Roboto", sans-serif;
}

#paragraphs {
    font-family: 'Noto Sans JP', sans-serif;
}